header {
  background-color: rgba(84, 61, 104, 0.295);
  color: rgb(22, 16, 56);
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
